article {
    border: 3px solid black;
    background-color: rgb(61, 189, 182);
    
    display: block;
    margin: 0 auto;

    width: 35rem;
    text-align: center;

    border-radius: 10px;
  }
  
  /* formula for clearing floats */
  article:after {
    content: "";
    display: table;
    clear: both;
  }

  .floatleft {
    float: left;
    border: 3px solid black;
    margin: 0 1rem 1rem 1rem;
    border-radius: 10px;
  }
  
  .floatright {
    float: right;
    border: 3px solid black;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
  }

  p {
    margin-right: 1rem;
  }

  blockquote {
    margin: 6rem 1rem 0 0;
  }