* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.video {
    display: none;
}

.active {
    display: block;
}

.video-gallery {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.btn {
    background-color: teal;
    color: whitesmoke;
    font-size: 20px;
    padding: 5px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.prev {
    margin-right: 15px;
}

.add {
    margin-top: 15px;
}

.add-btn {
    text-align: center;
}

.btn:disabled {
    background-color: #777;
    cursor: not-allowed;
}

form {
    margin-top: 35px;
}