* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    
    background-color: #282828;
    color: whitesmoke;
}

h1 {
    text-align: center;
}

.video {
    display: none;
}

.active {
    display: block;
}

.video-gallery {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #CC0000;
    color: whitesmoke;
    font-size: 16px;
    padding: 5px 20px;
    border-color: transparent;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 15px;
}

.prev {
    margin-right: 15px;
}

.add {
    margin-right: 15px;
}

.add-rem-btn {
    text-align: center;
}

.btn:disabled {
    background-color: #282828;
    cursor: not-allowed;
}

form {
    margin-top: 35px;
}

#player {
    border: 5px solid whitesmoke;
}