*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}
.box {
    position: relative;
    padding: 3em;
    border: 1px solid black;
}
p {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 0;
}
#one {
    background-color: rgb(142, 218, 218);
}
#two {
    background-color: bisque;
}
#three {
    background-color: cadetblue;
}
#three p {
    top: 50%;
    margin-top: -10px;
}