html, body {
    box-sizing: border-box;
    /* Full Height Div */
    height: 100%;
    margin: 0;
    padding: 0;
    /* *************** */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    /* Full Height Div */
    height: 100%;
    /* *************** */
    border: 1px solid red;
}

.wrapper {
    border: 10px solid black;
    border-radius: 12px;
    box-shadow: 5px 10px 8px #888888;
    background-color: black;
    width: 400px;
    color: white;
}

.calc-button-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.screen {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px 5px;
    font-size: 40px;
}

.calc-button {
    background-color: #d8d9db;
    color: black;
    border: none;
    font-size: 40px;
    height: 100px;
    flex-basis: 24.5%;
}

.calc-button:hover {
    background-color: #ebebeb;
}

.calc-button:active {
    background-color: #bbbcbe;
}

.double {
    flex-basis: 49.7%;
}

.triple {
    flex-basis: 74.8%;
}

.calc-button:last-child {
    background-color: #df974c;
    color: white;
}

.calc-button:last-child:hover {
    background-color: #dfb07e;
}